services:
  app:
    build: 
      context: .
      dockerfile: Dockerfile.production
    image: avaneraa/devops-for-programmers-project-74
    environment: 
      NODE_ENV: production
    command: ["make", "test"]
    depends_on:
      - db
  
  db:
    image: postgres:latest
    restart: always
    shm_size: 128mb
    environment:
      # - POSTGRES_HOST=${DATABASE_HOST}
      - POSTGRES_USER=${DATABASE_USERNAME}
      - POSTGRES_PASSWORD=${DATABASE_PASSWORD}
      # - POSTGRES_DB=${DATABASE_NAME}
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
  
volumes:
  pgdata:
