name: Push Workflow

on:
  push:
    branches:
      - main

jobs:
  build-and-push:
    name: Build, Test, and Push
    runs-on: ubuntu-latest
    env:
      DATABASE_PASSWORD: ${{ secrets.DATABASE_PASSWORD }}
    steps:
      - 
        name: Checkout code 
        uses: actions/checkout@v4

      -
        name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      
      - 
        name: qemu
        uses: docker/setup-qemu-action@v3

      -
        name: Set up Docker Buildx for caching availability
        uses: docker/setup-buildx-action@v3

      - 
        name: Install Docker Compose
        uses: KengoTODA/actions-setup-docker-compose@v1
        with:
          version: '2.14.2'
      
      - name: Debug Docker Compose Configuration
        run: docker-compose config

      - 
        name: Run tests
        run: make ci

      - 
        name: Build and push production image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: Dockerfile.production
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/devops-for-programmers-project-74:latest
          cache-from: type=registry,ref=${{ secrets.DOCKER_USERNAME }}/devops-for-programmers-project-74:latest
          cache-to: type=inline,ref=${{ secrets.DOCKER_USERNAME }}/devops-for-programmers-project-74:latest
